:root {
  --page-width: 960px;

  --app-main-color: #000;
  --second-color: #fff;
  --accent-color: #fbd303f0;
  --decoration-color: #000;
  --base-background: white;
  --second-background: #000;

  --carusel-text-width: 960px;
  --carusel-text-color: #000;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
  background-image: radial-gradient(transparent, var(--base-background)), url('../images/beautiful-bee-bloom-1591478.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-wrapper {
  display: flex;
  justify-content: center;
}

.section {
  width: var(--page-width);
}

.section__contet {
  display: flex;
}

.section__header {
  display: flex;
  width: 100%;
  align-items: center;
}

.section__header-logo {
  height: 50px;
  margin-left: 10px;
}

.section__header-text {
  display: flex;
  padding: 10px;
  font-size: 3em;
  align-items: center; 
}

.section__header-wrapper {
  display: flex;
  width: var(--page-width);
  align-items: center;
}

.section__header-wrapper:after,
.section__header-wrapper:before,
.section__header:after,
.section__header:before {
  content: '';
  flex-grow: 1;
  border-top: 4px solid var(--accent-color);
}