footer {
  display: flex;
  margin: 50px 0;
  padding-top: 10px; 
  justify-content: center;
  border-top: 4px solid var(--accent-color);
}

.footer-container {
  width: var(--page-width);
  padding: 20px 0;
  font-size: 1.5em;
  text-align: center;
  color: var(--second-color);
  background: var(--main-color);
}