.values__section {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.values__article-image {
  width: 300px;
  height: 500px;
  border: 2px solid var(--accent-color);
}

.values__article {
  max-width: 304px;
  margin: 10px 0;
}

.values__article-header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: var(--accent-color);
  width: fit-content;
}

.values__article-description {
  font-size: 20px;
  padding: 10px;
  background-color: var(--app-main-color);
  color: var(--second-color);
  width: fit-content;
}